@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/* Tailwind-custom styles to remove spinner controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: var(--foreground);
  background: var(--background);
  /*noinspection CssUnresolvedCustomProperty*/
  font-family: var(--font-satoshi);
}

body, html {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  /*noinspection CssUnresolvedCustomProperty*/
  font-family: var(--font-integral);
}
